:host {
  display: flex;
  min-width: var(--secondary-nav-width);
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
  padding-block: 1.5rem;
  font-size: .875rem;
  box-sizing: border-box;
  padding-block: 2rem;
}