stages:
  - build
  - deploy

variables:
  API_TOKEN: $AZURE_DEPLOYMENT_TOKEN
  OUTPUT_LOCATION: "dist/bpmn-runner-doc-page/"

build_job:
  stage: build
  script:
    - echo "Iniciando instalação das dependências..."
    - npm config set cache .npm --global
    - npm install
    - echo "Iniciando o build da aplicação para produção..."
    - npm run build -- --configuration production
  artifacts:
    paths:
      - dist/bpmn-runner-doc-page/
    expire_in: 1 hour
 
deploy_job:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  variables:
    AZURE_STATIC_WEB_APPS_API_TOKEN: $API_TOKEN
    APP_LOCATION: "/"
    OUTPUT_LOCATION: $OUTPUT_LOCATION
  script:
    - /bin/entrypoint.sh
  dependencies:
    - build
  only:
    - main