stages:
  - build
  - deploy

variables:
  API_TOKEN: $AZURE_DEPLOYMENT_TOKEN
  OUTPUT_LOCATION: "dist/bpmn-runner-doc-page/"

build_job:
  stage: build
  image: node:22.18-alpine
  script:
    - npm install
    - npm run build --prod
  artifacts:
    paths:
      - dist/
    expire_in: 1h
 
deploy_job:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  dependencies:
    - build_job
  variables:
    AZURE_STATIC_WEB_APPS_API_TOKEN: $API_TOKEN
    APP_LOCATION: "/"
    OUTPUT_LOCATION: "dist/bpmn-runner-doc-page/"
  script:
deploy_job:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  dependencies:
    - build_job
  script:
    - /bin/entrypoint.sh --app "/" --outputLocation "dist/bpmn-runner-doc-page/" --apiToken "$API_TOKEN"
  only:
    - main
  only:
    - main