stages:
  - build
  - deploy

default:
  image: node:22.18.0-alpine

cache:
  key:
    files:
      - package-lock.json
  paths:
    - .npm/

build_job:
  stage: build
  script:
    - echo "Iniciando instalação das dependências..."
    - npm config set cache .npm --global
    - npm install
    - echo "Iniciando o build da aplicação para produção..."
    - npm run build -- --configuration production
  artifacts:
    paths:
      - dist/bpmn-runner-doc-page/
    expire_in: 1 hour
 
deploy_static_web_app:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  dependencies:
    - build_job
  variables:
    API_TOKEN: $AZURE_STATIC_WEB_APPS_API_TOKEN
    APP_PATH: '$CI_PROJECT_DIR/src'
    OUTPUT_PATH: '$CI_PROJECT_DIR/dist/angular-basic'
  script:
    - echo "App deployed successfully."