stages:
  - build
  - deploy

variables:
  API_TOKEN: $AZURE_DEPLOYMENT_TOKEN
  OUTPUT_LOCATION: "$CI_PROJECT_DIR/dist/bpmn-runner-doc-page/"

build_job:
  stage: build
  image: node:22.18-alpine
  script:
    - npm install
    - npm run build --prod
  artifacts:
    paths:
      - dist/
    expire_in: 1h
 
deploy_job:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  dependencies:
    - build_job
  variables:
    API_TOKEN: $AZURE_DEPLOYMENT_TOKEN
    APP_PATH: "$CI_PROJECT_DIR"
    OUTPUT_PATH: $OUTPUT_LOCATION
  script:
    - echo "App deployed successfully."
  only:
    - main