stages:
  - build
  - deploy

variables:
  OUTPUT_LOCATION: "$CI_PROJECT_DIR/dist/bpmn-runner-doc-page/browser"

build_job:
  stage: build
  image: node:22.17-alpine
  script:
    - npm install
    - npm run build:prod
  artifacts:
    paths:
      - dist/
    expire_in: 1h

deploy_job:
  stage: deploy
  image: registry.gitlab.com/static-web-apps/azure-static-web-apps-deploy
  dependencies:
    - build_job
  variables:
    API_TOKEN: $AZURE_DEPLOYMENT_TOKEN
    APP_PATH: "$CI_PROJECT_DIR"
    OUTPUT_PATH: "$CI_PROJECT_DIR/dist/bpmn-runner-doc-page"
    NODE_VERSION: "22.17.0"
  before_script:
    - echo "Using Node $NODE_VERSION"
    - node -v
    - npm -v
  script:
    - echo "Deploying Angular app to Azure Static Web App..."
    - swa deploy "$OUTPUT_PATH" --deployment-token "$API_TOKEN" --env production
  only:
    - main
