.container {
    margin: 200px 50px 0 50px !important;
    height: 757px !important;
    position: relative;
    display: flex;
    flex-direction: row;
}

.code-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.viewer {
    width: 100%;
    margin-left: 40px;
}