.container {
    margin: 200px 50px 0 50px !important;
    height: 757px !important;
    position: relative;
    display: flex;
    flex-direction: row;
}

.code-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20px;
}

.viewer {
    width: 100%;
}

.viewer-bottom {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px 20px;
  margin-top: -66px;
}

.docs-primary-btn {
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  min-width: 2.60rem;
  min-height: 2.60rem;
  border-radius: 50%;
  padding: 0;
  color: var(--primary-contrast);
  --angle: 90deg;
  background: linear-gradient(var(--angle), var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--page-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease, background .3s ease;
    color: var(--primary-contrast);
    z-index: 1;
  }

  &:hover {
    animation: spin-gradient 4s linear infinite forwards;
    &::before {
      background-color: var(--page-background);
      background: var(--soft-pink-radial-gradient);
      opacity: 0.9;
    }
    &::after {
      opacity: 0;
    }
  }

  app-icon {
    position: relative;
    z-index: 2;
  }
}

app-icon {
  color: var(--primary-contrast) !important;
}