:host {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  &:has(.app-home) {
    .app-nav {
      width: 0;
      height: 0;
    }
  }
}

.docs-app-main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 2560px;

  ::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: color-mix(in srgb, var(--gray-1000) 5%, transparent);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}