<div class="wrapper">
  <nav class="nav-primary">
    <ul class="nav-top">
      <li class="nav-item">
        <a aria-label="BPMN Runner homepage" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 223 236" width="38">
            <g clip-path="url(#a)">
              <path
                fill="url(#c)"
                d="M94.9453 6.81851L80.3386 13.5591L110.77 13.9421C127.487 14.0953 142.336 14.5549 143.635 14.8613C145.015 15.1677 138.441 11.874 129.191 7.66103C119.858 3.37159 111.662 -0.0753408 110.932 0.00125218C110.12 0.00125218 102.98 3.06521 94.9453 6.81851Z"
              />
              <path 
                fill="url(#b)"
                d="M184.859 35.8492C192.163 44.8877 195.166 53.6967 195.166 66.1818C195.166 78.8972 191.19 88.0892 181.857 96.8982C175.771 102.643 167.899 106.855 160.109 108.771C157.918 109.23 156.214 109.92 156.214 110.226C156.214 110.532 159.135 111.298 162.705 111.987C182.262 115.588 197.6 129.452 202.144 147.453C203.929 154.5 203.929 167.292 202.144 173.802C200.359 180.39 196.626 187.743 192.569 192.875L189.242 197.012L200.116 191.573C206.12 188.586 211.233 185.675 211.558 185.139C211.801 184.603 214.317 155.879 217.076 121.333C219.835 86.7868 222.27 56.531 222.513 54.1564L223 49.7135L210.908 44.2753C204.254 41.2875 194.76 36.9981 189.81 34.7768L180.802 30.7171L184.859 35.8492Z"
              />
              <path
                fill="url(#c)" 
                d="M18.2587 41.2108L0 49.4833L0.243417 53.6199C0.649222 61.5863 10.8741 185.522 11.1175 185.675C11.2798 185.752 14.607 187.514 18.6644 189.505C22.7219 191.496 28.6459 194.561 31.8919 196.169L37.7347 199.156V116.047C37.7347 70.3185 37.4913 32.8619 37.1667 32.9385C36.7609 32.9385 28.3213 36.6918 18.2587 41.2108Z"
              />
              <path 
                fill="url(#b)"
                d="M83.1787 73.7652V98.7363H100.464C109.877 98.7363 120.183 98.3533 123.267 97.9703C142.418 95.3655 152.724 81.3485 147.612 65.0329C145.908 59.6714 139.578 53.6199 132.924 51.1686C128.46 49.4833 127 49.3306 105.739 49.1003L83.1787 48.8709V73.7652Z"
              />
              <path 
                fill="url(#b)"
                d="M83.1787 154.729V181.615L108.173 181.309C131.301 181.003 133.492 180.849 138.523 179.317C145.908 177.019 152.237 171.581 154.591 165.53C157.106 159.325 156.619 149.827 153.455 144.082C150.696 138.95 146.07 134.584 140.714 132.057C133.41 128.533 127.73 127.843 104.521 127.843H83.1787V154.729Z"
              />
              <path
                fill="url(#b)" 
                d="M144.853 215.932C142.418 216.314 125.215 216.621 106.712 216.621L73.0352 216.697L86.0189 223.285C93.1602 226.885 101.843 231.251 105.252 232.936L111.5 236L128.785 227.345C138.279 222.595 147.531 217.923 149.316 216.927C152.805 215.089 152.4 215.012 144.853 215.932Z"
              />
            </g>
            <defs>
              <linearGradient
                id="b"
                x1="49.009"
                x2="225.829"
                y1="213.75"
                y2="129.722"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#E40035" />
                <stop offset=".24" stop-color="#F60A48" />
                <stop offset=".352" stop-color="#F20755" />
                <stop offset=".494" stop-color="#DC087D" />
                <stop offset=".745" stop-color="#9717E7" />
                <stop offset="1" stop-color="#6C00F5" />
              </linearGradient>
              <linearGradient
                id="c"
                x1="41.025"
                x2="156.741"
                y1="28.344"
                y2="160.344"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#FF31D9" />
                <stop offset="1" stop-color="#FF5BE1" stop-opacity="0" />
              </linearGradient>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h223v236H0z" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <button
          type="button"
          aria-label="Navigate to docs page"
          class="icon-button"
          (click)="navigateToPath('/docs')"
        >
          <app-icon class="app-icon_high-contrast">docs</app-icon>
          <span>Docs</span>
        </button>
      </li>
      <!-- <li class="nav-item">
        <button
          type="button"
          aria-label="Navigate to tutorial page"
          class="icon-button"
          (click)="navigateToPath('/tutorial')"
        >
          <app-icon class="app-icon_high-contrast">school</app-icon>
          <span>Tutorial</span>
        </button>
      </li> -->
      <li class="nav-item">
        <button
          type="button"
          aria-label="Navigate to playground page"
          class="icon-button"
          (click)="navigateToPath('/playground')"
        >
          <app-icon class="app-icon_high-contrast">code_blocks</app-icon>
          <span>Playground</span>
        </button>
      </li>
    </ul>
    <div class="nav-bottom">
      <div class="nav-item" [class.nav-item--active]="openedMenu === 'theme-picker'">
        <button
          type="button"
          [cdkMenuTriggerFor]="themeMiniMenu"
          [cdkMenuPosition]="miniMenuPositions"
          aria-label="Open theme picker"
          (cdkMenuClosed)="closeMenu()"
          (cdkMenuOpened)="openMenu('theme-picker')"
          class="icon-button"
        >
          <app-icon role="presentation">
            {{ getThemeIcon }}
          </app-icon>
        </button>

        <ng-template #themeMiniMenu>
          <ul class="mini-menu" cdkMenu>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('auto')"
                aria-label="Set default system theme"
                class="icon-button"
              >
                <app-icon class="app-icon_high-contrast">routine</app-icon>
                <span>System</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('dark')"
                aria-label="Set dark theme"
                class="icon-button"
              >
                <app-icon class="app-icon_high-contrast">dark_mode</app-icon>
                <span>Dark</span>
              </button>
            </li>
            <li>
              <button
                type="button"
                cdkMenuItem
                (click)="setTheme('light')"
                aria-label="Set light theme"
                class="icon-button"
              >
                <app-icon class="app-icon_high-contrast">light_mode</app-icon>
                <span>Light</span>
              </button>
            </li>
          </ul>
        </ng-template>
      </div> 
      <div class="nav-item">
        @if(!isUserLoggedIn()) {
          <button
            type="button"
            aria-label="Open theme picker"
            (click)="login()"
            class="icon-button log-button"
          >
            <app-icon class="app-icon_high-contrast">login</app-icon>
          </button>
        }
        @else
        {
          <button
            type="button log-button"
            [cdkMenuTriggerFor]="userMiniMenu"
            [cdkMenuPosition]="miniMenuPositions"
            aria-label="Open login menu"
            (cdkMenuClosed)="closeMenu()"
            (cdkMenuOpened)="openMenu('login')"
            class="icon-button"
          >
            <app-icon class="app-icon_high-contrast">account_circle</app-icon>
          </button>
          <ng-template #userMiniMenu>
            <ul class="mini-menu" cdkMenu>
              <li>
                <button
                  type="button"
                  cdkMenuItem
                  (click)="openModal('settings')"
                  aria-label="Open modal settings"
                  class="icon-button"
                >
                  <app-icon class="app-icon_high-contrast">settings</app-icon>
                  <span>Settings</span>
                </button>
              </li>
              <li>
                <button
                  type="button"
                  cdkMenuItem
                  (click)="logout()"
                  aria-label="Log out"
                  class="icon-button"
                >
                  <app-icon class="app-icon_high-contrast">logout</app-icon>
                  <span>Logout</span>
                </button>
              </li>
            </ul>
          </ng-template>
        }
      </div>
    </div>
  </nav>
</div>