@font-face {
  font-family: "Inter Tight";
  src: url("/assets/fonts/InterTight-VariableFont_wght.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::ng-deep {
  .p-dialog {
    background: var(--page-background) !important;
    color: var(--primary-contrast) !important;
    border: 1px solid var(--quaternary-contrast) !important;
    border-radius: 0 !important;
  }

  .p-dialog-header {
    font-family: "Inter Tight";
    src: url("/assets/fonts/InterTight-VariableFont_wght.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    letter-spacing: 2px;
  }

  .p-dialog-mask {
    backdrop-filter: blur(12px) saturate(160%);
    background-color: rgba(0, 0, 0, 0.25);
  }

  .material-symbols-outlined {
    color: var(--secondary-contrast);
  }
}

:host {
  display: flex;
  position: sticky;
  top: 0;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  .wrapper {
    width: 100%;
  }
}

.nav-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow: auto;
  backdrop-filter: blur(16px);
  background-color: color-mix(in srgb, var(--page-background) 70%, transparent);
  z-index: 250;
  position: relative;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  height: 100dvh;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  box-sizing: border-box;
  border-inline-end: 1px solid var(--septenary-contrast);
}

.nav-top {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  padding-block: 1.25rem;
  text-decoration: none;
  fill: var(--quaternary-contrast);
  color: inherit;
  cursor: pointer;
  transition: fill .3s ease;

  &__top {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .nav-item--active {
      button {
        app-icon {
          color: var(--primary-contrast) !important;
        }
      }
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
      padding-inline: 1rem;

      app-icon {
        font-size: 1.5rem;
      }

      &:hover {
        app-icon {
          color: var(--primary-contrast);
        }
      }
    }
  }

  li {
    padding-inline: 0.875rem;
  }

  .nav-item--active {
    button {
      app-icon {
        color: var(--primary-contrast);
      }
    }
  }
  
}

.mini-menu {
  margin-left: 31px;
  padding: 0;
  color: var(--primary-contrast);
  background-color: var(--page-background);
  border: 1px solid var(--senary-contrast);
  border-radius: 0.25rem;
  z-index: var(--z-index-mini-menu);
  box-shadow: 10px 4px 40px 0 rgba(0, 0, 0, 0.075);
  
  li {
    list-style: none;

    button {
      padding: 1rem;
      min-width: 75px;
      min-height: 75px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      app-icon {
        font-size: 1.5rem;
        color: var(--quaternary-contrast);
        transition: color 0.3s ease;
      }

      &:hover {
        background-color: var(--senary-contrast);
        span,
        app-icon {
          color: var(--primary-contrast);
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      min-width: 50px;
      svg {
        fill: var(--quaternary-contrast);
        transition: fill 0.3s ease;
      }

      &:hover {
        background-color: var(--senary-contrast);
        svg {
          fill: var(--primary-contrast);
        }
      }
    }

    span {
      color: var(--quaternary-contrast);
      transition: color 0.3s ease;
    }
  }

  &-open {
    display: block;
  }
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--primary-contrast) !important;
}

