:host {
  display: flex;
  position: sticky;
  top: 0;

  .wrapper {
    width: 100%;
  }
}

.nav-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  overflow: auto;
  backdrop-filter: blur(16px);
  background-color: color-mix(in srgb, var(--page-background) 70%, transparent);
  z-index: 250;
  position: relative;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  height: 100dvh;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  box-sizing: border-box;
  border-inline-end: 1px solid var(--septenary-contrast);
}

.nav-top {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  padding-block: 1.25rem;
  text-decoration: none;
  fill: var(--quaternary-contrast);
  color: inherit;
  cursor: pointer;
  transition: fill .3s ease;
}