.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--senary-contrast);
    margin-bottom: 50px;
    min-height: 201px;
    
    h3 {
        max-width: 280px;
        font-size: 2rem;
        color: var(--primary-contrast);
    }
}